<%= link_to "チャットルーム一覧", chat_rooms_path %>

<h1><%= @chat_room.name %></h1>

<%= turbo_stream_from "chat_room_#{@chat_room.id}" %>

<div id="chat-messages">
  <% @chat_messages.each do |chat_message| %>
    <% next unless chat_message.persisted? %>

    <%= render "chat_message", chat_message: %>
  <% end %>
</div>

<div id="chat-message-form">
  <%= render "chat_message_form", chat_message: @chat_message, chat_room: @chat_room %>
</div>
